<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhrsite.xshop.mapper.AddressMapper">
    <select id="getAddress" resultType="com.lhrsite.xshop.vo.AddressVO">
        SELECT addr.id,
               addr.uid,
               addr.province,
               addr.city,
               addr.country,
               addr.town,
               addr.addr,
               addr.consignee,
               addr.link_tel linkTel,
               addr.default_status defaultStatus,
               user.username,
               city.name     cityName,
               province.name provinceName,
               country.name  countryName,
               town.name     townName
        FROM address addr
                 left join city on addr.city = city.city_id
                 left join province on addr.province = province.province_id
                 left join country on addr.country = country.country_id
                 left join town on addr.town = town.town_id
                 left join user on addr.uid = user.uid
        WHERE addr.uid = #{uid}
    </select>
</mapper>
