<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhrsite.xshop.mapper.EnterpriseMapper">

    <select id="getEnterprises" resultType="com.lhrsite.xshop.po.Enterprise">
        select *
        from enterprise
        where 1=1
        <if test="ep_name != null">
            and ep_name like '%'#{epName}'%'
        </if>
        <if test="type != null">
            and ep_type = #{type}
        </if>
        <if test="ep_status != null">
            and ep_status = #{status}
        </if>
    </select>
</mapper>
