<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhrsite.xshop.mapper.FavoriteGoodsMapper">
    <insert id="insertFavoriteGoods" keyProperty="fgId" useGeneratedKeys="true">
        insert into favorite_goods (uid, goods_id)
        values (#{uid}, #{goods_id})
    </insert>
    <delete id="deleteFavoriteByFgId">
        delete
        from favorite_goods
        where fg_id = #{fgId}
          and uid = #{uid}
    </delete>
    <select id="getFavoriteGoodsIdList" resultType="java.lang.String">
        select goods_id
        from favorite_goods
        where uid = #{uid}
    </select>
    <select id="getUserFavoriteByGoodsId" resultType="com.lhrsite.xshop.po.FavoriteGoods">
        select *
        from favorite_goods
        where uid = #{uid}
          and goods_id = #{goods_id}
    </select>
</mapper>