<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhrsite.xshop.mapper.GoodsMapper">
    <update id="updateGoodsSalesVolumeAndStock" parameterType="com.lhrsite.xshop.po.Goods">
        <foreach collection="goods" item="item" separator=";">
            UPDATE `goods` set `sales_volume`=#{item.salesVolume},
            `stock`=#{item.stock}
            WHERE `goods_id`=#{item.goodsId}
        </foreach>
    </update>
    <select id="getGoodsByGoodsIds" resultType="com.lhrsite.xshop.po.Goods">
        select * from goods where goods_id in
        <foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getGoods" resultType="com.lhrsite.xshop.vo.GoodsListVO">


    </select>
</mapper>