<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhrsite.xshop.mapper.UserMapper">

    <select id="getUsers" resultType="com.lhrsite.xshop.vo.UserVO">
        select *
        from user
        where 1=1
        <if test="userName != null">
            and username like '%'#{userName}'%'
        </if>
        <if test="email != null">
            and email like '%'#{email}'%'
        </if>
        <if test="email != null">
            and email like '%'#{email}'%'
        </if>
        <if test="phone != null">
            and phone like '%'#{phone}'%'
        </if>
    </select>
</mapper>
